In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
links=[]
url= 'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-madrid.htm?anyo_hasta=2018&vendedor=2'
soup = BeautifulSoup((requests.get(url)).text, 'html.parser')
pl1 = soup.findAll('a',{"class":"pill-information","class":"primary-link"})
for e in pl1:
    links.append(e.get('href'))
links

['https://www.coches.com/coches-segunda-mano/ocasion-audi-a4-20tdi-dpf-s-line-edition-150-en-madrid.htm?id=4357221',
 'https://www.coches.com/coches-segunda-mano/ocasion-volkswagen-passat-variant-20tdi-edition-110kw-en-madrid.htm?id=4536719',
 'https://www.coches.com/coches-segunda-mano/ocasion-fiat-freemont-20-diesel-lounge-170-en-madrid.htm?id=4612265',
 'https://www.coches.com/km0/seminuevo-cupra-ateca-cupra--20-tsi-300-dsg-4drive-en-madrid.htm?id=4302265',
 'https://www.coches.com/coches-segunda-mano/ocasion-lexus-nx-300h-executive-4wd-tecno-en-madrid.htm?id=4502371',
 'https://www.coches.com/coches-segunda-mano/ocasion-ford-mondeo-20tdci-limited-edition-140-en-madrid.htm?id=4506805',
 'https://www.coches.com/km0/seminuevo-jeep-compass-16-mjt-sport-4x2-en-madrid.htm?id=4297689',
 'https://www.coches.com/coches-segunda-mano/ocasion-nissan-x-trail-16-dci-360-4x4-i-en-madrid.htm?id=4620235',
 'https://www.coches.com/coches-segunda-mano/ocasion-toyota-hilux-25d-4d-cabina-sencilla-gx-4x4-en-madrid.htm?id=4621437',
 'https://www.coches.com/coches-segunda-mano/ocasion-citroen-berlingo-furgon-16hdi-90-en-madrid.htm?id=4621441',
 'https://www.coches.com/coches-segunda-mano/ocasion-seat-alhambra-20tdi-cr-eco-s_s-reference-150-en-madrid.htm?id=4089373',
 'https://www.coches.com/coches-segunda-mano/ocasion-mazda-cx-3-15d-luxury-2wd-en-madrid.htm?id=4371963',
 'https://www.coches.com/km0/seminuevo-nissan-leaf-acenta-30kwh-en-madrid.htm?id=4457435',
 'https://www.coches.com/coches-segunda-mano/ocasion-audi-a6-20tdi-multitronic-en-madrid.htm?id=4467739',
 'https://www.coches.com/coches-segunda-mano/ocasion-peugeot-3008-16-thp-s_s-allure-eat6-165-en-madrid.htm?id=4534623',
 'https://www.coches.com/coches-segunda-mano/ocasion-hyundai-i20-12-klass-en-madrid.htm?id=4105271',
 'https://www.coches.com/coches-segunda-mano/ocasion-ford-s-max-22tdci-titanium-x-en-madrid.htm?id=4266551',
 'https://www.coches.com/km0/seminuevo-alfa+romeo-giulietta-14-tb-120-super-en-madrid.htm?id=4297671',
 'https://www.coches.com/coches-segunda-mano/ocasion-opel-insignia-20cdti-ecof-s_s-business-140-en-madrid.htm?id=4487833',
 'https://www.coches.com/coches-segunda-mano/ocasion-lexus-rx-300-president-aut-en-madrid.htm?id=4512021']

In [4]:
def linksScrap(lim,url):
    ##lim=750
    pages=[i for i in range(lim-1)]
    links=[]
    for i in pages:
        ##url = 'https://www.coches.com/coches-segunda-mano/coches-segunda-mano-particulares.htm?page={}'.format(i)
        soup = BeautifulSoup((requests.get(url+str(i))).text, 'html.parser')
        pl1 = soup.findAll('a',{"class":"pill-information","class":"primary-link"})
        for e in pl1:
            links.append(e.get('href'))
    return links

In [5]:
def linksScrap2(lim1,lim2,url):
    ##lim=750
    pages=[i for i in range(lim1,lim2)]
    links=[]
    for i in pages:
        ##url = 'https://www.coches.com/coches-segunda-mano/coches-segunda-mano-particulares.htm?page={}'.format(i)
        soup = BeautifulSoup((requests.get(url+str(i))).text, 'html.parser')
        pl1 = soup.findAll('a',{"class":"pill-information","class":"primary-link"})
        for e in pl1:
            links.append(e.get('href'))
    return links

In [6]:
def carsScrap(links):
    cars=[]
    for l in links:
        ##Getting URLS
        soup = BeautifulSoup((requests.get(l)).text, 'html.parser')
        ##Labels
        featureLabels = soup.findAll('div',{"class":"index-card__technical-data-label"})
        labels=[(e.get_text('div')).strip() for e in featureLabels] 
        ##Values
        feautureValues = soup.findAll('div',{"class":"index-card__technical-data-info"})
        values=[(e.get_text('div')).strip() for e in feautureValues] 
        ##creating Tuple
        features = zip(labels,values)
        ##creating dict
        featuresD = dict(features)
        ##modelo
        models = soup.findAll('ol',{"class":"breadcrumb breadcrumb--index-card"})
        mod=[]
        for e in models:
            for i in range(len(e.find_all("a"))):
                mod.append(((e.find_all("a")[i]).get_text('li')))
                ##adding modelo
                featuresD['model']=mod
            cars.append(featuresD)
    return cars

In [7]:
def carsScrap2(links):
    cars=[]
    for l in links:
        ##Getting URLS
        soup = BeautifulSoup((requests.get(l)).text, 'html.parser')
        ##Labels
        featureLabels = soup.findAll('div',{"class":"index-card__technical-data-label"})
        labels=[(e.get_text('div')).strip() for e in featureLabels] 
        ##Values
        feautureValues = soup.findAll('div',{"class":"index-card__technical-data-info"})
        values=[(e.get_text('div')).strip() for e in feautureValues] 
        ##creating Tuple
        features = zip(labels,values)
        ##creating dict
        featuresD = dict(features)
        ##modelo
        models = soup.findAll('ol',{"class":"breadcrumb breadcrumb--index-card"})
        mod=[]
        brand=[]
        model=[]
        for e in models:
            for i in range(len(e.find_all("a"))):
                if i==2:
                    brand.append(((e.find_all("a")[i]).get_text('li')))
                    
                    featuresD['brand']=brand[0]
                elif i==3:
                    model.append(((e.find_all("a")[i]).get_text('li')))
                    
                    featuresD['model']=model[0]
            cars.append(featuresD)
    return cars

In [ ]:
##up to 4500
links_oca1=linksScrap(750,'https://www.coches.com/coches-segunda-mano/coches-segunda-mano-particulares.htm?anyo_hasta=2018&page=')
cars_oca1=carsScrap2(links_oca1)
cars_oca1=pd.DataFrame(cars_oca1)
cars_oca1.to_json(r'./output/cars_ocasion.json')

In [ ]:
##up to 4500
links_ocaMadrid=linksScrap(902,'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-madrid.htm?anyo_hasta=2018&vendedor=1&page=')
print(len(links_ocaMadrid))

In [ ]:
cars_ocaMadrid=carsScrap2(links_ocaMadrid)
print(len(cars_ocaMadrid))
cars_ocaMadrid=pd.DataFrame(cars_ocaMadrid)
cars_ocaMadrid.to_csv('./output/cars_ocaMadrid.csv', index=False)

In [ ]:
links_ocaValencia=linksScrap(300,'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-valencia.htm?anyo_hasta=2018&vendedor=1&page=')
print(len(links_ocaValencia))

In [ ]:
cars_ocaValencia=carsScrap2(links_ocaValencia)
print(len(cars_ocaValencia))
cars_ocaValencia=pd.DataFrame(cars_ocaValencia)
cars_ocaValencia.to_csv('./output/cars_ocaValencia.csv', index=False)

In [ ]:
links_ocaMalaga=linksScrap(200,'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-malaga.htm?anyo_hasta=2018&vendedor=1&page=')
print(len(links_ocaMalaga))

In [ ]:
cars_ocaMalaga=carsScrap2(links_ocaMalaga)
print(len(cars_ocaMalaga))
cars_ocaMalaga=pd.DataFrame(cars_ocaMalaga)
cars_ocaMalaga.to_csv('./output/cars_ocaMalaga.csv', index=False)

In [ ]:
links_ocaBarcelona=linksScrap(700,'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-barcelona.htm?anyo_hasta=2018&vendedor=1&page=')
print(len(links_ocaBarcelona))

In [ ]:
cars_ocaBarcelona=carsScrap2(links_ocaBarcelona)
print(len(cars_ocaBarcelona))
cars_ocaBarcelona=pd.DataFrame(cars_ocaBarcelona)
cars_ocaBarcelona.to_csv('./output/cars_ocaBarcelona.csv', index=False)

In [ ]:
links_ocaVizcaya=linksScrap(180,'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-vizcaya.htm?anyo_hasta=2018&vendedor=1&page=')
print(len(links_ocaVizcaya))

In [ ]:
cars_ocaVizcaya=carsScrap2(links_ocaVizcaya)
print(len(cars_ocaVizcaya))
cars_ocaVizcaya=pd.DataFrame(cars_ocaVizcaya)
cars_ocaVizcaya.to_csv('./output/cars_ocaVizcaya.csv', index=False)

In [ ]:
links_ocaZaragoza=linksScrap(180,'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-zaragoza.htm?anyo_hasta=2018&vendedor=1&page=')
print(len(links_ocaZaragoza))

In [ ]:
cars_ocaZaragoza=carsScrap2(links_ocaZaragoza)
print(len(cars_ocaZaragoza))
cars_ocaZaragoza=pd.DataFrame(cars_ocaZaragoza)
cars_ocaZaragoza.to_csv('./output/cars_ocaZaragoza.csv', index=False)

In [ ]:
links_ocaAlicante=linksScrap(180,'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-alicante.htm?anyo_hasta=2018&vendedor=1&page=')
print(len(links_ocaAlicante))

In [ ]:
cars_ocaAlicante=carsScrap2(links_ocaAlicante)
print(len(cars_ocaAlicante))
cars_ocaAlicante=pd.DataFrame(cars_ocaAlicante)
cars_ocaAlicante.to_csv('./output/cars_ocaAlicante.csv', index=False)

In [ ]:
links_ocaSevilla=linksScrap(180,'https://www.coches.com/coches-segunda-mano/coches-ocasion-en-sevilla.htm?anyo_hasta=2018&vendedor=1&page=')
print(len(links_ocaSevilla))

In [ ]:
cars_ocaSevilla=carsScrap2(links_ocaSevilla)
print(len(cars_ocaSevilla))
cars_ocaSevilla=pd.DataFrame(cars_ocaSevilla)
cars_ocaSevilla.to_csv('./output/cars_ocaSevilla.csv', index=False)