In [2]:
import src.clean_functions as cl_f
import parameters as prm
import mongoconnect as mc
import clean as cln
import model as mdl
import car_input as ci

import pandas as pd
import numpy as np
import json
import re
from pymongo import MongoClient
import getpass

In [3]:
##1. Connect to DB
client = MongoClient(mc.connection)
db, coll = mc.connectCollection('carpricing','cars')
print("connection ready")
##query = {'Brand':ci.InputBrand}
##Brand_q = coll.find(query)

connection ready

In [4]:
def dropcolumns(df,columnsdrop):
    df.drop(columnsdrop, axis=1, inplace=True)
    df=df.dropna()
    return df

In [5]:
columnsdrop=['Emisiones','Peso','0-100km/h','Cilindrada','Transmision','Parmaximo','Curbano','Extraurbano','Cmixto','Plazas']

In [6]:
Brand_q = coll.find()
dfBrand=pd.DataFrame(Brand_q)
dfBrand=dropcolumns(dfBrand,columnsdrop)
dfBrand['inputcar']=0
print("Dataset imported from Mongo")

dfBrand = dfBrand.append(ci.input_car,ignore_index=True)
print(dfBrand[dfBrand['inputcar']==1])
print("Input car added to df")

Dataset imported from Mongo
       _id Precio   Ano Potencia Kilometros Combustible Puertas  Cambio  \
31159  NaN   4000  2005      140     144000      Diesel       5  Manual

      Longitud Carroceria Velocidad Cilindros Marchas   Traccion Brand  \
31159      420    Berlina       207         4     NaN  Delantera  Audi

         Model  inputcar
31159  Audi A3         1
Input car added to df

In [7]:
dfBrand.Marchas.value_counts().index

Index(['6', '5', '7', '8', '9', '4', ' secuencial"', ' sin caja de cambios"',
       '3', '1', '10'],
      dtype='object')

In [8]:
dfBrand=dfBrand.dropna()
display(df1dfBrand

SyntaxError: unexpected EOF while parsing (<ipython-input-8-aa5919e9ba0c>, line 2)

In [ ]:
df1['Potencia']=df1['Potencia'].astype('float', errors='ignore')
df1['Cilindros']=df1['Cilindros'].astype('float', errors='ignore')
df1['Puertas']=df1['Puertas'].astype('float', errors='ignore')
df1['Marchas']=df1['Marchas'].astype('float', errors='ignore')

df1[pd.to_numeric(df1['Marchas'], errors='coerce').notnull()]

In [ ]:
display(df1)

In [9]:
df1['Kilometros']=df1['Kilometros'].astype('float', errors='ignore')
df1['Precio']=df1['Precio'].astype('float', errors='ignore')
df1['Longitud']=df1['Longitud'].astype('float', errors='ignore')
df1['Velocidad']=df1['Velocidad'].astype('float', errors='ignore')
##df1['Cmixto']=df1['Cmixto'].dropna().astype('float', errors='ignore')
df1=df1.dropna()
print("casting")

NameError: name 'df1' is not defined

In [10]:
display(df1)

NameError: name 'df1' is not defined

In [74]:
##Encoding categorical variables
df1['Cambio']=[cl_f.cambio(i) for i in df1['Cambio']]
df1['Traccion']=[cl_f.traccion(i) for i in df1['Traccion']]
df1['Puertas']=[cl_f.puertas(i) for i in df1['Puertas']]
df1['Marchas']=[cl_f.marchas(i) for i in df1['Marchas']]
print("encoding categorical")

encoding categorical

In [75]:
display(df1)

,Precio,Brand,Model,Ano,Potencia,Kilometros,Puertas,Cambio,Longitud,Velocidad,Cilindros,Marchas,Traccion,Combustible,Carroceria,inputcar
0,4000.0,Audi,Audi A3,2005,140.0,144000.0,1,0,420.0,207.0,4.0,1,0,Diesel,Berlina,1

In [76]:
##Encoding column año
df1['Ano'] = df1['Ano'].str[-4:]
df1=df1.dropna()
df1['Ano'] = df1['Ano'].astype('float', errors='ignore')
df1['Ano']=2019-df1['Ano']
print("encoding año")

encoding año

In [77]:
display(df1)

,Precio,Brand,Model,Ano,Potencia,Kilometros,Puertas,Cambio,Longitud,Velocidad,Cilindros,Marchas,Traccion,Combustible,Carroceria,inputcar
0,4000.0,Audi,Audi A3,14.0,140.0,144000.0,1,0,420.0,207.0,4.0,1,0,Diesel,Berlina,1

In [78]:
##Dropping ouliers rows in km
df1 = df1[df1["Kilometros"]<=prm.kmmax]
df1 = df1[df1["Kilometros"]>=prm.kmmin]
print("outliers km")

##Dropping ouliers rows for año
df1 = df1[df1["Ano"]<=prm.anmax]
df1 = df1[df1["Ano"]>=prm.anmin]
print("outliers year")

##Dropping ouliers rows for precio
df1 = df1[df1["Precio"]<=prm.prcmax]
df1 = df1[df1["Precio"]>=prm.prcmin]
print("outliers precio")

outliers km
outliers year
outliers precio

In [79]:
display(df1)

,Precio,Brand,Model,Ano,Potencia,Kilometros,Puertas,Cambio,Longitud,Velocidad,Cilindros,Marchas,Traccion,Combustible,Carroceria,inputcar
0,4000.0,Audi,Audi A3,14.0,140.0,144000.0,1,0,420.0,207.0,4.0,1,0,Diesel,Berlina,1

In [80]:

df1=df1.dropna()
df1 = df1[df1["Longitud"] !=0]
df1 = df1[df1["Velocidad"] !=0]
##df1 = df1[df1['Cmixto'] !=0]
##print("removing zeros")

In [81]:
display(df1)

,Precio,Brand,Model,Ano,Potencia,Kilometros,Puertas,Cambio,Longitud,Velocidad,Cilindros,Marchas,Traccion,Combustible,Carroceria,inputcar
0,4000.0,Audi,Audi A3,14.0,140.0,144000.0,1,0,420.0,207.0,4.0,1,0,Diesel,Berlina,1

In [82]:
##removing low frequency Brands and models
df1=cl_f.RemoveLowFreq(df1,"Model",prm.lf_model)
df1=cl_f.RemoveLowFreq(df1,"Brand",prm.lf_brand)
df1=cl_f.RemoveLowFreq(df1,"Carroceria",prm.lf_carro)
print("removing low freq")

removing low freq

In [83]:
display(df1)

Empty DataFrame
Columns: [Precio, Brand, Model, Ano, Potencia, Kilometros, Puertas, Cambio, Longitud, Velocidad, Cilindros, Marchas, Traccion, Combustible, Carroceria, inputcar]
Index: []

In [12]:
P=["3","2.0","we"]

P=[pd.to_numeric(x, errors='coerce') for x in P]
P

[3, 2.0, nan]